USE [master]
GO
/****** Object:  Database [GoPOS]    Script Date: 14.10.2022 14:24:19 ******/
CREATE DATABASE [GoPOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GoPOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GoPOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GoPOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GoPOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoPOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GoPOS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bin]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bis] [nvarchar](20) NOT NULL,
	[Ver] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Birims]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birims](
	[BirimID] [int] IDENTITY(1,1) NOT NULL,
	[BirimCins] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Birims] PRIMARY KEY CLUSTERED 
(
	[BirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Depo]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depo](
	[DepoUrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAD] [nvarchar](100) NOT NULL,
	[StokMiktariPaket] [decimal](8, 1) NOT NULL,
	[StokMiktariNet] [decimal](8, 2) NULL,
	[UrunID] [int] NOT NULL,
 CONSTRAINT [PK_Depo] PRIMARY KEY CLUSTERED 
(
	[DepoUrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gorevlers]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gorevlers](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[JobType] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Gorevlers] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAD] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilars]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilars](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdSoyad] [nvarchar](60) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Email] [nvarchar](40) NULL,
	[Yetki] [bit] NOT NULL,
	[GorevAd] [nvarchar](50) NULL,
	[KullaniciPassword] [nvarchar](30) NULL,
	[KullaniciPin] [int] NOT NULL,
	[KullaniciDurum] [bit] NULL,
	[Aciklama] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Kullanicilars] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainCategories]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainCategories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryStatus] [bit] NULL,
 CONSTRAINT [PK_Table_2] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Masalars]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masalars](
	[MasaID] [int] IDENTITY(1,1) NOT NULL,
	[MasaAd] [nvarchar](50) NULL,
	[MasaDurum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Masalars] PRIMARY KEY CLUSTERED 
(
	[MasaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemelers]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemelers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SipNo] [int] NOT NULL,
	[Nakit] [decimal](18, 2) NOT NULL,
	[KrediKarti] [decimal](18, 2) NOT NULL,
	[Sodexo] [decimal](18, 2) NOT NULL,
	[Multinet] [decimal](18, 2) NOT NULL,
	[SipTutar] [decimal](18, 2) NOT NULL,
	[KalanTutar] [decimal](18, 2) NOT NULL,
	[OdemeDurum] [bit] NOT NULL,
	[Tarih] [date] NULL,
	[İkram] [decimal](18, 0) NULL,
	[İndirim] [decimal](18, 0) NULL,
 CONSTRAINT [PK_dbo.Odemelers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Description] [nvarchar](650) NULL,
	[Picture] [nvarchar](250) NULL,
	[SubCategoryName] [nvarchar](50) NULL,
	[CategoryName] [nvarchar](50) NULL,
	[MainCategory_CategoryID] [int] NULL,
	[SubCategory_SubCategoryID] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recetelers]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recetelers](
	[ReceteID] [int] IDENTITY(1,1) NOT NULL,
	[StokUrun] [nvarchar](50) NULL,
	[Birim] [nvarchar](50) NULL,
	[Miktar] [int] NOT NULL,
	[ReceteNo] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[StokUrunID] [int] NULL,
 CONSTRAINT [PK_dbo.Recetelers] PRIMARY KEY CLUSTERED 
(
	[ReceteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyonlar]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyonlar](
	[RezervasyonID] [int] IDENTITY(1,1) NOT NULL,
	[MasaID] [int] NOT NULL,
	[MusteriAd] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NOT NULL,
	[BasTarih] [date] NOT NULL,
	[Saat] [nvarchar](50) NOT NULL,
	[MasaAd] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rezervasyonlar] PRIMARY KEY CLUSTERED 
(
	[RezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saatler]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saatler](
	[SaatID] [int] IDENTITY(1,1) NOT NULL,
	[Saatler] [nvarchar](50) NOT NULL,
	[SaatDurum] [bit] NOT NULL,
 CONSTRAINT [PK_Saatler] PRIMARY KEY CLUSTERED 
(
	[SaatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisID]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisID](
	[SipID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparislers]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparislers](
	[SipID] [int] IDENTITY(1,1) NOT NULL,
	[MasaAD] [nvarchar](50) NULL,
	[UrunAd] [nvarchar](100) NULL,
	[UrunFiyat] [decimal](18, 2) NOT NULL,
	[UrunAdet] [int] NOT NULL,
	[SipDurum] [bit] NOT NULL,
	[SatirTutar] [decimal](18, 2) NOT NULL,
	[SiparisTutar] [decimal](18, 2) NOT NULL,
	[Tarih] [datetime] NULL,
	[KDVTutar] [decimal](18, 2) NOT NULL,
	[AraTutar] [decimal](18, 2) NOT NULL,
	[SipNo] [int] NOT NULL,
	[OdemeBicimi] [nvarchar](30) NULL,
	[TarihKasa] [date] NULL,
	[UrunID] [int] NOT NULL,
	[MasaID] [int] NOT NULL,
	[KullaniciID] [int] NULL,
	[MutfakDurum] [bit] NULL,
	[TeslimHazirDurum] [bit] NULL,
	[SatirOdemeDurum] [bit] NULL,
	[TarihKasaDayName] [nvarchar](50) NULL,
	[SiparisID] [int] NULL,
 CONSTRAINT [PK_dbo.Siparislers] PRIMARY KEY CLUSTERED 
(
	[SipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisLogs]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisLogs](
	[SipID] [int] IDENTITY(1,1) NOT NULL,
	[MasaAD] [nvarchar](50) NULL,
	[Tarih] [datetime] NOT NULL,
	[SiparisTutar] [decimal](18, 2) NOT NULL,
	[KDVTutar] [decimal](18, 2) NOT NULL,
	[AraTutar] [decimal](18, 2) NOT NULL,
	[MasaID] [int] NOT NULL,
	[SipDurum] [bit] NOT NULL,
	[KullaniciID] [int] NULL,
	[SipNo] [int] NOT NULL,
	[UrunAd] [nvarchar](100) NULL,
	[UrunFiyat] [decimal](18, 2) NOT NULL,
	[UrunAdet] [int] NOT NULL,
	[EskiUrunAdet] [int] NULL,
	[EskiKullaniciID] [int] NULL,
	[EskiMasaAD] [nvarchar](50) NULL,
	[EskiUrunAd] [nvarchar](100) NULL,
	[EskiSipDurum] [bit] NULL,
	[EskiSiparisTutar] [decimal](18, 2) NULL,
	[TransactionID] [int] NULL,
 CONSTRAINT [PK_dbo.SiparisLogs] PRIMARY KEY CLUSTERED 
(
	[SipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SipHesap]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SipHesap](
	[HesapID] [int] NULL,
	[UrunAd] [nvarchar](50) NULL,
	[UrunAdet] [int] NULL,
	[UrunFiyat] [decimal](8, 2) NULL,
	[SipID] [int] NULL,
	[SipNo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SonSiparis]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SonSiparis](
	[SipNo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StokHareketleris]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokHareketleris](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[UrunAD] [nvarchar](100) NULL,
	[EklenenMiktar] [decimal](18, 2) NULL,
	[CikanMiktar] [decimal](18, 2) NULL,
	[KayitNotu] [nvarchar](500) NULL,
	[Zaman] [datetime] NOT NULL,
	[ToplamTutar] [decimal](18, 2) NULL,
	[BirimFiyat] [decimal](18, 2) NULL,
	[ZamanB] [date] NULL,
	[CikanTutar] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.StokHareketleris] PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stoklars]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stoklars](
	[StokID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [nvarchar](100) NULL,
	[Birim] [nvarchar](30) NOT NULL,
	[KritikStokMiktari] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[PaketMiktar] [decimal](8, 2) NULL,
 CONSTRAINT [PK_dbo.Stoklars] PRIMARY KEY CLUSTERED 
(
	[StokID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[SubCategoryID] [int] NOT NULL,
	[SubCategoryName] [nvarchar](50) NULL,
	[SubCategoryStatus] [bit] NULL,
	[MainCategory_CategoryID] [int] NULL,
 CONSTRAINT [PK_SubCategories] PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToplamReceteSayisi]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToplamReceteSayisi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TopReceteSayisi] [int] NULL,
 CONSTRAINT [PK_ToplamReceteSayisi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunlers]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunlers](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAD] [nvarchar](100) NULL,
	[UrunKategoriID] [int] NOT NULL,
	[UrunFiyat] [decimal](18, 2) NOT NULL,
	[UrunResmi] [nvarchar](200) NULL,
	[StokDurum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Urunlers] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Win]    Script Date: 14.10.2022 14:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Win](
	[ID] [int] NULL,
	[ValueNumber] [int] NULL,
	[ValueID] [int] NULL,
	[ValueText] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bin] ON 

INSERT [dbo].[Bin] ([ID], [Bis], [Ver]) VALUES (1, N'qw12', 1)
INSERT [dbo].[Bin] ([ID], [Bis], [Ver]) VALUES (2, N'qww', 1)
INSERT [dbo].[Bin] ([ID], [Bis], [Ver]) VALUES (3, N'cas', 1)
SET IDENTITY_INSERT [dbo].[Bin] OFF
GO
SET IDENTITY_INSERT [dbo].[Birims] ON 

INSERT [dbo].[Birims] ([BirimID], [BirimCins]) VALUES (1, N'adet')
SET IDENTITY_INSERT [dbo].[Birims] OFF
GO
SET IDENTITY_INSERT [dbo].[Gorevlers] ON 

INSERT [dbo].[Gorevlers] ([JobID], [JobType]) VALUES (4, N'Patron')
SET IDENTITY_INSERT [dbo].[Gorevlers] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilars] ON 

INSERT [dbo].[Kullanicilars] ([KullaniciID], [KullaniciAdSoyad], [Telefon], [Email], [Yetki], [GorevAd], [KullaniciPassword], [KullaniciPin], [KullaniciDurum], [Aciklama]) VALUES (2, N'High', N'1', N'1', 1, N'Patron', N'160922', 53661886, 0, NULL)
INSERT [dbo].[Kullanicilars] ([KullaniciID], [KullaniciAdSoyad], [Telefon], [Email], [Yetki], [GorevAd], [KullaniciPassword], [KullaniciPin], [KullaniciDurum], [Aciklama]) VALUES (3, N'1', N'1', N'1', 1, N'Patron', N'1', 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Kullanicilars] OFF
GO
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] ON 

INSERT [dbo].[Rezervasyonlar] ([RezervasyonID], [MasaID], [MusteriAd], [Telefon], [BasTarih], [Saat], [MasaAd]) VALUES (1, 1002, N'kkk', N'lll', CAST(N'2022-09-16' AS Date), N'00:00', N'a1')
INSERT [dbo].[Rezervasyonlar] ([RezervasyonID], [MasaID], [MusteriAd], [Telefon], [BasTarih], [Saat], [MasaAd]) VALUES (2, 1003, N'', N'', CAST(N'2022-09-16' AS Date), N'00:00', N'a2')
INSERT [dbo].[Rezervasyonlar] ([RezervasyonID], [MasaID], [MusteriAd], [Telefon], [BasTarih], [Saat], [MasaAd]) VALUES (3, 1003, N'', N'', CAST(N'2022-09-16' AS Date), N'01:00', N'a2')
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Saatler] ON 

INSERT [dbo].[Saatler] ([SaatID], [Saatler], [SaatDurum]) VALUES (1, N'00:00', 0)
INSERT [dbo].[Saatler] ([SaatID], [Saatler], [SaatDurum]) VALUES (2, N'01:00', 0)
INSERT [dbo].[Saatler] ([SaatID], [Saatler], [SaatDurum]) VALUES (3, N'02:00', 0)
SET IDENTITY_INSERT [dbo].[Saatler] OFF
GO
INSERT [dbo].[SonSiparis] ([SipNo]) VALUES (19)
GO
SET IDENTITY_INSERT [dbo].[ToplamReceteSayisi] ON 

INSERT [dbo].[ToplamReceteSayisi] ([ID], [TopReceteSayisi]) VALUES (1, 9998)
SET IDENTITY_INSERT [dbo].[ToplamReceteSayisi] OFF
GO
INSERT [dbo].[Win] ([ID], [ValueNumber], [ValueID], [ValueText]) VALUES (1, 841203133, 9998, N'14102022')
INSERT [dbo].[Win] ([ID], [ValueNumber], [ValueID], [ValueText]) VALUES (2, 841203133, 85, N'02102022')
INSERT [dbo].[Win] ([ID], [ValueNumber], [ValueID], [ValueText]) VALUES (3, 324432, 344, NULL)
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_MainCategories] FOREIGN KEY([MainCategory_CategoryID])
REFERENCES [dbo].[MainCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_MainCategories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_SubCategories] FOREIGN KEY([SubCategory_SubCategoryID])
REFERENCES [dbo].[SubCategories] ([SubCategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_SubCategories]
GO
ALTER TABLE [dbo].[Recetelers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Recetelers_dbo.Urunlers_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunlers] ([UrunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recetelers] CHECK CONSTRAINT [FK_dbo.Recetelers_dbo.Urunlers_UrunID]
GO
ALTER TABLE [dbo].[Siparislers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Siparislers_dbo.Kullanicilars_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilars] ([KullaniciID])
GO
ALTER TABLE [dbo].[Siparislers] CHECK CONSTRAINT [FK_dbo.Siparislers_dbo.Kullanicilars_KullaniciID]
GO
ALTER TABLE [dbo].[Siparislers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Siparislers_dbo.Masalars_MasaID] FOREIGN KEY([MasaID])
REFERENCES [dbo].[Masalars] ([MasaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Siparislers] CHECK CONSTRAINT [FK_dbo.Siparislers_dbo.Masalars_MasaID]
GO
ALTER TABLE [dbo].[Siparislers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Siparislers_dbo.Urunlers_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunlers] ([UrunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Siparislers] CHECK CONSTRAINT [FK_dbo.Siparislers_dbo.Urunlers_UrunID]
GO
ALTER TABLE [dbo].[Stoklars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stoklars_dbo.Urunlers_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunlers] ([UrunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stoklars] CHECK CONSTRAINT [FK_dbo.Stoklars_dbo.Urunlers_UrunID]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_MainCategories] FOREIGN KEY([MainCategory_CategoryID])
REFERENCES [dbo].[MainCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_MainCategories]
GO
/****** Object:  Trigger [dbo].[YeniKayit]    Script Date: 14.10.2022 14:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- AAA tablosuna kayıt girildiğinde bu kaydın birebir kopyası AAALOG tablosuna yazar--

CREATE Trigger [dbo].[YeniKayit] 
on [dbo].[Siparislers]
After Insert 

As

insert into SiparisLogs (


TransactionID,
MasaAD,
Tarih,
SiparisTutar,
KDVTutar,
AraTutar,
MasaID,
SipDurum,
KullaniciID,
SipNo,
UrunAd,
UrunFiyat,
UrunAdet
)
select

SipID,
MasaAD,
GETDATE(),
SiparisTutar,
KDVTutar,
AraTutar,
MasaID,
SipDurum,
KullaniciID,
SipNo,
UrunAd,
UrunFiyat,
UrunAdet









from inserted
GO
ALTER TABLE [dbo].[Siparislers] ENABLE TRIGGER [YeniKayit]
GO
USE [master]
GO
