<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
     <add name="Context" connectionString="data source=.; initial catalog=GoPOS; integrated security=true;"
         providerName="System.Data.SqlClient" />
     <add name="HiPOS.Properties.Settings.GoPOSConnectionString" connectionString="Data Source=DESKTOP-4SEOCDM\TEW_SQLEXPRESS;Initial Catalog=GoPOS;Integrated Security=True"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>